#information{
  background-color: #f6f8fc;
}

#infor-first-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

#infor-first-part > p{
  font-size: 15px;
  color: #1e2a3b;
}

#infor-first-part > h4{
  font-size: 20px;
  color: #1e2a3b;
}

#infor-second-part{
  margin-left: 20px;
  margin-top: 20px;
}

#infor-second-part > div{
  margin-right: 20px;
}

#infor-second-part > div > h5{
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #1e2a3b;
}

#infor-second-part > div > h6{
  font-size: 15px;
  font-weight: 300;
  color: #1e2a3b;
}

.botao-link {
  font-size: 15px;
  background: none;
  border: none;
  color: #1e2a3b;
  padding-top: 15px;
  padding-bottom: 30px;  
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s ease;
  display: inline-block; 
}

.botao-link:hover {
  color: hotpink;
}

.line{
  width: 90%;
  height: 1px;
  background-color: #94a3b8; 
  margin: 20px 30px;
}

#infor-third-part{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#infor-third-part > h4{
  font-size: 20px;
  padding-bottom: 5px;
  color: #1e2a3b;
}

#infor-third-part > p{
  font-size: 15px;
  color: #1e2a3b;
}