.card{
  width: 100%; 
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  margin-bottom: 20px;
}

.card > img{
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0; 
}

.card > h5{
  padding: 10px;
  font-size: 15px;
}

.card > h4{
  padding: 0px 10px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #475569;
  font-weight: 300;

}