
/* footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 300px;     
  margin: 10px auto;

}

footer > div > div > img{
padding: 10px;
} */

#footer-menu{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0px;
  font-size: 2px;
  color: #949fa4;
}

#footer-menu{
font-size: 15px;
}

#invisible-menu{
  padding-left: 30px;
}

.linha{
  margin: 20px 200px;
  border-bottom: 5px solid #e2e8f0;
}

#about-footer{
  display: grid;
  grid-template-columns: minmax(400px, 2fr) 1fr 1fr 1fr;
  gap: 30px; 
  margin: 20px 200px;
}