*{
  padding: 0px;
  margin: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#body{
  margin-top: 10px;
  font-family: "Figtree", sans-serif;

}

#radar{
  display: flex;
  align-items: center;
  background-color: #de550b;
  margin-left: 5px;
  padding: 3px 7px;
  border-radius: 30px;
  color: #ffffff;
}

#Banner-principal{
  padding: 0 17px;
}

#Banner-principal > h2{
  padding: 30px 0px;
}

#Banner-principal > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10pX;
}

#Banner-principal > img{
  width: 100%;
  height: auto;
  max-width: 530px;     
  border-radius: 25px;
  padding-top: 15px;
}

#advertisement{

  width: 530px;
  margin: 30px 0px;
  padding: 0 17px;
  
}

#advertisement1{
  background-color: #98db82;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
}

#advertisement1 > img{
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 20px;
}

#advertisement > div > div > h5{
  font-size: 25px;
  padding-bottom: 10px;
}

#advertisement > div > div > h6{
  font-size: 15px;
}

#alert{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #aeb9c9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
}

#alert > img {
  padding-right: 10px;
}

#experience{
  padding: 0 50px;
}

#experience > h4{
  font-size: 25px;
  padding: 30px 0px;
}

#first-experience{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.card-experience{
  display: flex;
  border: 1px solid #aeb9c9;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 35px 30px;  
  box-sizing: border-box;
}

.card-experience > h5{
  font-size: 17px;
  padding: 0 20px;
}

